<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Hotel</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
</head>

<body style="
                    background-image: url('assets/images/hotel.jpg');
                    background-size: cover;
                    height: 100vh;
                    ">

    <div id="app">
        <header class="text-white">
            <div class="mask h-100"
                style="background-image: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(255,255,255,0));">
                <div class="container d-flex justify-content-between py-2">
                    <a @click="openPage('main')" class="navbar-brand text-white">
                        <strong>HOTEL</strong>
                    </a>
                    <nav class="nav nav-pills">
                        <a @click="openPage('main')" class="nav-link text-white">Главная</a>
                        <a @click="openPage('login')" class="nav-link text-white">Вход</a>
                        <a @click="logout" class="nav-link text-white">Выход</a>                        
                    </nav>
                    <form class="my-2">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Поиск заявки по коду"
                                aria-label="Search">
                            <div class="input-group-append">
                                <a class="btn btn-outline-light" type="submit">Найти</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </header>

        <!-- + Главная + -->
        <div v-if="page === 'main'" class="container d-flex justify-content-center ">
            <form class="bg-dark rounded-3 p-5 position-absolute top-50 start-50 translate-middle"
                style="--bs-bg-opacity: .7;">
                <h3 class="text-white">Бронирование номера</h3>
                <div class="row">
                    <div class="col-4">
                        <!-- Заезд -->
                        <div class="form-outline mb-4">
                            <label class="form-label text-white-50">Дата заезда</label>
                            <input v-model="this.calculationValueForm.arr_date" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <!-- Выезд -->
                        <div class="form-outline mb-4">
                            <label class="form-label text-white-50">Дата выезда</label>
                            <input v-model="this.calculationValueForm.dep_date" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-outline mb-4">
                            <label class="form-label text-white-50">Кол-во гостей</label>
                            <select v-model="this.calculationValueForm.room_category_id" class="form-select"
                                aria-label="Default select example">
                                <option selected disabled value="">Количество</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a @click.prevent="calculationValue" type="submit"
                        class="btn btn-success btn-block ">Бронировать</a>
                </div>
            </form>
        </div>
        <!-- + Главная + -->

        <!-- + Бронирование номера + -->
        <div v-if="page === 'addBooking'" class="container w-75 border bg-light mt-5">
            <section class="p-5">
                <div class="mb-4 d-flex justify-content-between align-items-center">
                    <h2>Заявка на бронирование номера</h2>
                </div>
                <form>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <!-- Заезд -->
                            <div class="form-outline mb-2">
                                <label class="form-label">Дата заезда</label>
                                <input v-model="bookingCreateForm.arr_date" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <!-- Заезд -->
                            <div class="form-outline mb-2">
                                <label class="form-label">Дата отъезда</label>
                                <input v-model="bookingCreateForm.dep_date" type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-outline mb-4">
                        <!-- Номера -->
                        <div class="row">
                            <div class="col-3" v-for="(elem, i) in category.data">
                                <div class="card mb-3">
                                    <img class="card-img-top" :src="elem.photo" alt="placeholder">
                                    <div class="card-img-overlay">
                                        <div class="d-flex justify-content-between">
                                            <span class="badge bg-info mb-3">10000 руб</span>
                                            <input v-model="bookingCreateForm.room_category_id" :value="elem.id"
                                                type="radio" class="btn-check" :id="'category' + elem.id"
                                                autocomplete="off">
                                            <label class="btn btn-outline-warning"
                                                :for="'category' + elem.id">Выбрать</label>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            <small class="text-muted">{{elem.code}}</small>
                                        </p>
                                        <h5 class="card-title">{{elem.name}}</h5>
                                        <div class="d-flex flex-row mb-2">
                                            <div class="m-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                    fill="currentColor" class="bi bi-arrows-angle-expand text-primary"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z">
                                                    </path>
                                                </svg>
                                                <small> {{elem.square}} кв.м </small>
                                            </div>
                                            <div class="m-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                    fill="currentColor" class="bi bi-layout-split text-primary"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm8.5-1v12H14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H8.5zm-1 0H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h5.5V2z" />
                                                </svg>
                                                <small> {{elem.number_of_rooms}} комн. </small>
                                            </div>
                                            <div class="m-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                    fill="currentColor" class="bi bi-people text-primary"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                                                </svg>
                                                <small> до {{elem.guests}} мест. </small>
                                            </div>
                                        </div>
                                        <div>Cвободных номеров: {{elem.number_of_apartments}}</div>
                                        <a @click="categoryOfOne(elem.id)" class="btn btn-link mt-3"
                                            style="position: relative;">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Номера -->
                    </div>
                    <!-- Гости -->
                    <div class="row mb-4">
                        <div class="col-12" v-for="(elem, i) in bookingCreateForm.guests">
                            <div class="card">
                                <div
                                    class="card-header d-flex justify-content-between bg-secondary bg-opacity-75 text-white">
                                    <h5 class="card-title">
                                        Данные гостя №{{i + 1}}
                                    </h5>
                                    <button @click="" type="button" class="btn-close btn-close-white" aria-label="Close"
                                        disabled></button>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-outline mb-4 col-4">
                                            <label class="form-label">Фамилия</label>
                                            <input v-model="bookingCreateForm.guests[i].surname" type="text"
                                                class="form-control">
                                        </div>
                                        <div class="form-outline mb-4 col-4">
                                            <label class="form-label">Имя</label>
                                            <input v-model="bookingCreateForm.guests[i].name" type="text"
                                                class="form-control">
                                        </div>
                                        <div class="form-outline mb-4 col-4">
                                            <label class="form-label">Отчество</label>
                                            <input v-model="bookingCreateForm.guests[i].patronymic" type="text"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 mb-3">
                                            <div class="form-outline mb-2">
                                                <label class="form-label">Дата рождения</label>
                                                <input v-model="bookingCreateForm.guests[i].birthday" type="date"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label class="form-label">Пол</label>
                                            <div class="d-flex flex-row border p-1">
                                                <div class="form-check mx-2">
                                                    <input v-model="bookingCreateForm.guests[i].gender"
                                                        class="form-check-input" type="radio" :name="'gender-' + i"
                                                        value="м">
                                                    <label class="form-check-label">
                                                        мужской
                                                    </label>
                                                </div>
                                                <div class="form-check mx-2">
                                                    <input v-model="bookingCreateForm.guests[i].gender"
                                                        class="form-check-input" type="radio" :name="'gender-' + i"
                                                        value="ж">
                                                    <label class="form-check-label">
                                                        женский
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <label class="form-label">Документ, удостоверяющий личность*</label>
                                        <div class="input-group mb-3">
                                            <select v-model="bookingCreateForm.guests[i].document_type_id"
                                                class="form-select" aria-label="Default select example">
                                                <option selected disabled value="">Выбор типа документа</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                            <input v-model="bookingCreateForm.guests[i].document_number" type="text"
                                                class="form-control" placeholder="Номер документа">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Гости -->
                    <div class="d-grid gap-2">
                        <button @click="addNewGuests" type="button" class="btn btn-outline-primary small">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                <path fill-rule="evenodd"
                                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                            Добавить гостя
                        </button>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6 mb-3">
                            <div class="form-outline mb-2">
                                <label class="form-label">Email</label>
                                <input v-model="bookingCreateForm.email" type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="form-outline mb-2">
                                <label class="form-label">Телефон</label>
                                <input v-model="bookingCreateForm.phone" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label">Город</label>
                        <input v-model="bookingCreateForm.city" type="text" class="form-control">
                    </div>
                    <a @click.prevent="bookingCreate" class="btn btn-success mt-4">Бронировать</a>
                </form>
            </section>
        </div>
        <!-- + Бронирование номера + -->

        

        <!-- + Добавление менеджера + -->
        <section v-if="page === 'addManager'" class=" container p-5 border bg-light col-4 mt-4">
            <div class="mb-4 d-flex justify-content-between align-items-center">
                <h2>Добавление менеджера</h2>
            </div>
            <form class="rounded-3">
                <div class="mb-3">
                    <label>Фамилия</label>
                    <input type="text" v-model="addManagerForm.surname" class="form-control" placeholder="Фамилия">
                </div>
                <div class="mb-3">
                    <label>Имя*</label>
                    <input type="text" v-model="addManagerForm.name" class="form-control" placeholder="Имя">
                </div>
                <div class="mb-3">
                    <label>Отчество</label>
                    <input type="text" v-model="addManagerForm.patronymic" class="form-control" placeholder="Отчество">
                </div>
                <div class="mb-3">
                    <label>Логин*</label>
                    <input type="text" v-model="addManagerForm.login" class="form-control" placeholder="Логин">
                </div>
                <div class="mb-3">
                    <label>Пароль</label>
                    <input type="password" v-model="addManagerForm.password" class="form-control" placeholder="Пароль">
                </div>
                <div class="mb-3">
                    <label>Фото*</label>
                    <input ref="photo_file" type="file" class="form-control">
                </div>
                <a @click.prevent="addManager" class="btn btn-success mt-3">Добавить</a>
                <a @click="openPage('control')" style="margin-left: 10px;" class="btn btn-primary mt-3">Назад</a>
            </form>
        </section>
        <!-- + Добавление менеджера + -->

        <!-- + Добавление прайса + -->
        <section v-if="page === 'addPrice'" class=" container p-5 border bg-light col-4 mt-4">
            <div class="mb-4 d-flex justify-content-between align-items-center">
                <h2>Добавление прайса</h2>
            </div>
            <form class="rounded-3">
                <div class="mb-3">
                    <label>Категория номера</label>
                    <select v-model="createPriceForm.room_category_id" class="form-select"
                        aria-label="Default select example">
                        <option selected disabled value="">Выбор категории номера</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label>Сумма</label>
                    <input v-model="createPriceForm.value" type="text" class="form-control" placeholder="Введите сумму">
                </div>
                <div class="mb-3">
                    <label>Дата начала действия</label>
                    <input v-model="createPriceForm.start_date" type="date" class="form-control">
                </div>

                <a @click.prevent="createPrice" class="btn btn-success mt-3">Добавить</a>
                <a @click="openPage('control')" style="margin-left: 10px;" class="btn btn-primary mt-3">Назад</a>
            </form>
        </section>
        <!-- + Добавление прайса + -->

        <!-- Заявка на бронирование номера -->
        <div v-if="page === 'booking'" class="container w-50 border bg-light mt-5">
            <section class="p-5">
                <div class="d-flex justify-content-between">
                    <h2>Заявка на бронирование номера</h2>
                    <div class="badge bg-primary">
                        <h2>{{booking.data.code}}</h2>
                    </div>
                </div>
                <div class="my-2">
                    <b>Категория номера:</b> {{booking.data.room_category}}
                </div>
                <div class="my-2">
                    <b>Email:</b> {{booking.data.email}}
                </div>
                <div class="my-2">
                    <b>Телефон:</b> {{booking.data.phone}}
                </div>
                <div class="my-2">
                    <b>Город:</b> {{booking.data.city}}
                </div>
                <div class="row mt-4">
                    <div class="col-4" v-for="(elem, i) in booking.data.guests">
                        <div class="card mb-4">
                            <div
                                class="card-header d-flex justify-content-between bg-secondary bg-opacity-75 text-white">
                                <h5 class="card-title">
                                    Гость №{{i + 1}}
                                </h5>
                            </div>
                            <div class="card-body">
                                <div><b>ФИО: </b>{{elem.surname}} {{elem.name}} {{elem.patronymic}}</div>
                                <div><b>Дата рождения: </b>{{elem.birthday}}</div>
                                <div><b>Пол: </b>{{elem.gender}}</div>
                                <div><b>Тип документа: </b>{{elem.document_type}}</div>
                                <div><b>Номер документа: </b>{{elem.document_number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <label class="form-label"><b>Статус заявки: </b></label>
                    <select class="form-select" v-model="booking.data.status" aria-label="Default select example">
                        <option selected disabled value="" aria-disabled="true">Статус заявки</option>
                        <option value="1">Ожидание</option>
                        <option value="2">Согласована</option>
                        <option value="3">Отлонена</option>
                    </select>
                    <a href="manage.html" class="btn btn-success mt-3">Сохранить</a>
                    <a @click="openPage('control')" style="margin-left: 10px;" class="btn btn-primary mt-3">Назад</a>
                </form>
            </section>
        </div>
        <!-- Заявка на бронирование номера -->

        <!-- + Название категории номера + -->
        <div v-if="page === 'сategoriesName'" class="container border bg-light mt-5">
            <section class="py-5">
                <div class="row">
                    <div class="col-5">
                        <img class="mb-4 w-100" :src="categoryOne.data.photo" alt="placeholder">
                        <a @click="openPage('addBooking')" class="btn btn-primary btn-sm">Вернуться к бронированию</a>
                    </div>
                    <div class="col-7">
                        <h2 class="mb-2">{{categoryOne.data.name}}</h2>
                        <div class="text-muted">{{categoryOne.data.code}}</div>
                        <hr>
                        <div class="d-flex flex-row">
                            <div class="m-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-arrows-angle-expand text-primary" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z">
                                    </path>
                                </svg>
                                {{categoryOne.data.square}} кв.м
                            </div>
                            <div class="m-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-layout-split text-primary" viewBox="0 0 16 16">
                                    <path
                                        d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm8.5-1v12H14a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H8.5zm-1 0H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h5.5V2z" />
                                </svg>
                                {{categoryOne.data.number_of_rooms}} комн.
                            </div>
                            <div class="m-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-people text-primary" viewBox="0 0 16 16">
                                    <path
                                        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                                </svg>
                                до {{categoryOne.data.guests}} мест.
                            </div>
                        </div>
                        <hr>
                        <p class="mt-3">
                            {{categoryOne.data.description}}
                        </p>
                        <div class="border bg-light" v-for="elem in categoryOne.data.service_icons">
                            <div class="m-3 d-flex">
                                <div style="margin-right: 20px" v-html="elem.code"></div>
                                {{elem.name}}
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
        <!-- + Название категории номера + -->

        <!-- + Вход + -->
        <div v-if="page === 'login'" class="d-flex justify-content-center mt-5">
            <section class="p-5 border bg-light col-3">
                <div class="mb-4 d-flex justify-content-between align-items-center">
                    <h2>Вход</h2>
                </div>

                <form class="rounded-3">
                    <div class="mb-3">
                        <label>Логин</label>
                        <input v-model="loginForm.login" type="text" class="form-control" placeholder="Логин">
                    </div>
                    <div class="mb-3">
                        <label>Пароль</label>
                        <input v-model="loginForm.password" type="password" class="form-control" placeholder="Пароль">
                    </div>
                    <a @click="login" class="btn btn-success">Войти</a>
                </form>
            </section>
        </div>
        <!-- + Вход + -->

        <!-- + Управление заявками на бронирование + -->
        <div v-if="page === 'control'" class="container border bg-light my-2">
            <section class="py-5">
                <div class="mb-4 d-flex justify-content-between align-items-center">
                    <h2>Управление заявками на бронирование</h2>
                    <!--        <button class="btn btn-sm btn-success">Добавить статью</button>-->
                </div>
                <!-- Управление заявками на бронирование -->
                <table class="table">
                    <tr>
                        <th style="width: 100px;">#</th>
                        <th style="width: 100px;">code</th>
                        <!-- <th style="width: 100px;">Дата и время</th> -->
                        <th style="width: 130px;">Статус</th>
                        <th style="width: 200px;">Дата заезда</th>
                        <th style="width: 200px;">Дата отъезда</th>
                        <th style="width: 500px;">Категория номера</th>
                    </tr>
                    <tr v-for="elem in controlForm.controlApplications.data">
                        <td>{{elem.id}}</td>
                        <td>{{elem.code}}</td>
                        <td>{{elem.status}}</td>
                        <td>{{elem.arr_date}}</td>
                        <td>{{elem.dep_date}}</td>
                        <td>{{elem.room_category}}</td>
                        <td>
                            <a @click.prevent="bookingPage(elem.code)" class="btn btn-primary btn-sm">Редактировать</a>
                        </td>
                    </tr>
                </table>
                <!-- Управление заявками на бронирование -->
            </section>
            <hr>
            <section class="py-5">
                <div class="mb-4 d-flex justify-content-between align-items-center">
                    <h2>Управление менеджерами</h2>
                    <a @click="openPage('addManager')" class="btn btn-sm btn-success">Добавить менеджера</a>
                </div>
                <!-- Управление менеджерами -->
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>ФИО</th>
                        <th>login</th>
                        <th>Статус</th>
                        <th>Фото</th>
                        <th></th>
                    </tr>
                    <tr v-for="elem in controlForm.controlManager.data">
                        <td style="width: 100px;">{{elem.id}}</td>
                        <td style="width: 300px;">{{elem.surname}} {{elem.name}} {{elem.patronymic}}</td>
                        <td style="width: 250px;">{{elem.login}}</td>
                        <td style="width: 150px;">{{elem.status}}</td>
                        <td><img :src="elem.photo_file" class="img-thumbnail" width="100px" alt="no image :(">
                        </td>
                        <td>
                            <a @click.prevent="fireManager(elem.id)" class="btn btn-danger btn-sm">Уволить</a>
                        </td>
                    </tr>
                </table>
                <!-- Управление менеджерами -->
            </section>
            <hr>
            <section class="py-5">
                <div class="mb-4 d-flex justify-content-between align-items-center">
                    <h2>Управление прайсами</h2>
                    <a @click="openPage('addPrice')" class="btn btn-sm btn-success">Добавить прайс</a>
                </div>
                <!-- Управление прайсами -->
                <table class="table">
                    <tr>
                        <th style="width: 70px;">#</th>
                        <th style="width: 150px;">code</th>
                        <th style="width: 200px;">Категория номера</th>
                        <th style="width: 100px;">Дата начала действия</th>
                        <th style="width: 200px;">Цена за номер в день</th>
                    </tr>
                    <tr v-for="elem in controlForm.controlPrice.data">
                        <td>{{elem.id}}</td>
                        <td>{{elem.code}}</td>
                        <td>{{elem.room_category}}</td>
                        <td>{{elem.start_date}}</td>
                        <td>
                            <form class="d-flex d-inline-flex">
                                <input v-model="elem.value" type="text" class="form-control">
                                <a @click.prevent="editPrice(elem)" class="btn btn-primary">
                                    Сохранить
                                </a>
                            </form>
                        </td>
                    </tr>
                </table>
                <!-- Управление прайсами -->
            </section>
        </div>
        <!-- + Управление заявками на бронирование + -->
    </div>
    <script src="assets/js/main.js"></script>
</body>

</html>
